html{
    width: 100%
}

body{
    margin: 0;
    font-family: "Open Sans";
    background: #eaecdf;
    width: 100%;
}

.bg{
    position: absolute;
    max-width: 100%;
    z-index: 0;
    top: 0;
}

.container{
    position: relative;
    width: 100%;
    height: 100%;
}

.big-icon-container{
    position: relative;
    z-index: 1;
    float: right;
    right: 24.8%;
    max-width: 10%;
    margin-top: 1.05%;
    left: -21.9%;
}

.mosquito-icon{
    position: relative;
    float: right;
    max-width: 100%;
    height: auto;
}

.small-icon-container .mosquito-icon{
    position: absolute;
}

.header {
    position: relative;
    width: 100%;
    left: 21.1%;
    height: 20%;
    margin-bottom: 6.5%;
    margin-top: 2.8%;
}

.small-icon-container{
    position: relative;
    display: inline-block;
    height: 100%;
    z-index: 1;
    width: 3.2%;
}

.text{
    position: absolute;
    display: inline-block;
    font-weight: 300;
    font-size: 0.85vw;  
    margin-top: 36%;
    left: 116.7%;
}



.main-text{
    position: relative;
    z-index: 1;
    width: 40%;
    height: 40%;
    left: 21%;
}

.red{
    color: #e94e4a;
    margin: 0;
}

.title{
    font-weight: 300;
    font-size: 1.455vw;
    line-height: 100%;
}

.description{
    font-size: 0.85vw;
    font-weight: 300;
    line-height: 170%;
    position: relative;
    margin-top: 5.6%;
    left: 0.1%;
}

.contact-info{
    position: relative;
    z-index: 1;
    left: 20.9%;
    height: 27%;
    margin-top: 0.3%;
}

.phone_number{
    font-size: 2.18vw;
    font-weight: 700;
    color: #e94e4a;
    margin: 0;
}


.mail{
    font-size: 1.45vw;
    font-weight: 300;
    margin: 0;
    position: relative;
    margin-top: -0.85%;
    left: 0.1%;
}

.features{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    width: 27.15%;
    left: 20%;
    height: 27%;
    margin-top: 1.7%;
}

.icon{
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 0.8vw
}

.icon img{
    width: 45.2%;
    height: auto;
}

.feature-desc{
    font-weight: 300;
    font-size: 0.73vw;
    line-height: 120%;
    margin: 0;
    position: relative;
    margin-top: 1.6%;
}

.footer{
    font-size: 0.6835vw;
    position: relative;
    z-index: 1;
    left: 21%;
    margin-top: 4.65%;
}

