body{
    margin: 0;
    font-family: "Open Sans";
    color: rgba(0,0,0,0.8);
    background: #eaecdf;
}

.bg{
    position: absolute;
    max-width: 100%;
    z-index: 0;
}

.container{
    position: relative;
    max-width: 100%;
    height: 100%;
    left: 16.1%;
}

.big-icon-container{
    position: relative;
    z-index: 1;
    float: right;
    width: 9.33%;
    margin: 3.85% 40.95% 0 0;
}

.mosquito-icon{
    float: right;
    max-width: 100%;
    height: auto;
}

.header {
    position: absolute;
    width: 100%;
    max-height: 75px;
    margin: 3.85% 0 5% 5%;
}

.small-icon-container{
    position: relative;
    display: inline-block;
    height: 100%;
    z-index: 1;
    width: 3.2%;
}

.text{
    margin-top: 38%;
    margin-left: 116.60%;
    position: absolute;
    display: inline-block;
    font-weight: 300;
    font-size: 0.85vw;
}



.main-text{
    position: absolute;
    margin-top: 9.7%;
    left: 5%;
    z-index: 1;
    width: 40%;
}

.red{
    color: #e94e4a;
    margin: 0;
}

.title{
    font-weight: 300;
    font-size: 1.455vw;
    line-height: 100%;
}

.description{
    margin-top: 5.5%;
    font-size: 0.85vw;
    font-weight: 300;
    line-height: 170%;
}

.contact-info{
    position: absolute;
    margin-top: 24.2%;
    left: 4.85%;
    z-index: 1;
}

.phone_number{
    font-size: 2.18vw;
    font-weight: 700;
    color: #e94e4a;
    margin: 0;
}


.mail{
    font-size: 1.45vw;
    font-weight: 300;
    margin-top: -5%;
}

.features{
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    width: 27.15%;
    margin-top: 29.95%;
    left: 3.9%;
}

.icon{
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 0.8vw
}

.icon img{
    width: 45.2%;
    height: auto;
}

.feature-desc{
    margin-top: 4.5%;
    font-weight: 300;
    font-size: 0.73vw;
    line-height: 120%;
}

.footer{
    font-size: 0.6835vw;
    position: absolute;
    z-index: 1;
    left: 5%;
    margin-top: 41.5%;
}

