body{
    margin: 0;
    font-family: "Open Sans";
    background: #eaecdf;
}


.container{
    width: 54.2544%;
    position: relative;
}

.big-icon-container{
    position: absolute;
    float: right;
    width: 17.2283%;
    top: 0;
    right: 0;
}

.wrap{
    width: 100%;
}

.resize{
    max-width: 100%;
    height: auto;
}


.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 23.2125%;
}

.small-icon-container{
    display: flex;
    align-items: center;
    width: 25.9158%;
}

.text{
    margin-left: 13%;
    margin-top: -13%;
    font-weight: 300;
    font-size: 0.85vw;
}



.main-text{
    width: 40%;
    height: 40%;
}

.red{
    color: #e94e4a;
    margin: 0;
}

.title{
    font-weight: 300;
    font-size: 1.455vw;
    line-height: 100%;
}

.description{
    font-size: 0.85vw;
    font-weight: 300;
    line-height: 170%;
}

.contact-info{
    height: 27%;
}

.phone_number{
    font-size: 2.18vw;
    font-weight: 700;
    color: #e94e4a;
}


.mail{
    font-size: 1.45vw;
    font-weight: 300;
}

.features{
    display: flex;
    justify-content: space-between;
    width: 27.15%;
    height: 27%;
}

.icon{
    position: relative;
    width: 100%;
    text-align: center;
    font-size: 0.8vw
}

.icon img{
    width: 45.2%;
    height: auto;
}

.feature-desc{
    font-weight: 300;
    font-size: 0.73vw;
    line-height: 120%;
}

.footer{
    font-size: 0.6835vw;
}

